


body{
  background-color: #031529;
  color: #dcdee0;
}

.nav-link{
  color: #dcdee0 !important;

}

.titulo__modi{
  color: #dcdee0;
}

.input-black{
  border-color:#4a535c !important ;
  background-color: #4a535c !important;
}
header {

  background-color:#031327 ;
}
.navbar-toggler-icon{
  background-color: #132c44 !important;
 


}

