/*#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('https://github.com/santy-ramirez/assets/blob/main/screenshot_proyectos/Cube-1s-200px.gif') no-repeat center;
  z-index: 99999;



}*/
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white url(https://c.tenor.com/28DFFVtvNqYAAAAC/loading.gif) no-repeat center;
  z-index: 99999;
}
*{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
}

/****button******/
h2{
  font-weight: 600 !important;
}
.btne__link{
border-radius: 10px;
color: white;
 background: #7384BC;
 box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
 border: none;
 margin: 2rem 0;
 padding: .5rem 1rem;
 opacity: .6;
}

.btne{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 background: #7384BC;
 font-family: "Montserrat", sans-serif;
 box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
 overflow: hidden;
 border: none;

}

.btne:after {
 content: " ";
 width: 0%;
 height: 100%;
 background: #313E67;
 position: absolute;
 transition: all 0.4s ease-in-out;
 right: 0;
}

.btne:hover::after {
 right: auto;
 left: 0;
 width: 100%;
}
.btne span{
 text-align: center;
 text-decoration: none;
 width: 100%;
 padding: 12px 24px;
 color: #fff;
 font-size: 1.125em;
 font-weight: 700;
 letter-spacing: 0.3em;
 z-index: 20;
 transition: all 0.3s ease-in-out;
}

.btne:hover span {
 color: #183153;
 animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
 0% {
  transform: scale(1);
 }

 50% {
  transform: scale(0.95);
 }

 100% {
  transform: scale(1);
 }
}



/********navegacion*************/





.logo{
  width: 2rem;
  height: 3rem;
}
.contenedor{
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 12px;
}



  



header{
   background-color: #698ec533;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
 
}


.nav {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;
  max-width: 1000px;
  margin: 0 auto;
}


  








/**************************************MAIN  BODY  THE WEB PORFOLIO******************************/
.seccion {
  margin: 5rem auto;
}


/***************************************PRIMERA SECCION* HOME********************************************/
.home{
display: flex;

}
.descripcionyavatar{

}
.avatar{
 text-align: center;
}
.avatar__foto{

  border-radius: 180px;
  max-width: 150;
  max-height: 150px;
}
.descripcion{
  margin-top: 1.5rem;
}
.descripcion__subtitulo{
  color:#0d6efd ;
}
.descripcion__parrafo{
  font-weight: 400;
}
.uil{
  font-size: 2rem;
  color:#7384BC ;
}
/***************************************SEGUNDA SECCION* ABOUT ME********************************************/

.aboutme{

}
.about__parrafoyiconos{

}
.about__iconos{
display: flex;
}
.uil2{
  font-size: 4rem;
}

/***************************************TERCERA SECCION* SKILLS********************************************/


  

/***************************************CUARTA SECCION* PORTAFOLIO********************************************/
.imagen__swiner{
display: block;
margin: 0 auto;
}
.swiper {
  margin-top: 4rem;
      width: 300px;
      height: 400px;
     position: relative;

      
      
      
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    .segundo{
      position: absolute;
      width: 300px;
      height: 400px;
      top: 0;
      left: 0;

    }
    /***************************************quinta SECCION* formulario********************************************/
#contact {
  width: 100%;
  height: 100%;
 
}

.section-header {
  
  margin: 0 auto;
  padding: 40px 0;
  font: 200 50px ;
  color: black;
  
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 700px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 350px;
  overflow: hidden;
 
}

.alt-send-button {
  width: 350px;
  height: 34px;
  
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}



/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

h1{
  font-weight: 900 !important;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: black;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
    
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
    /***************************************FOOTER********************************************/


/* +++++++++++++++++++++++MEDIA QUERYS PUNTO DE INTERRUPCION ++++++++++++++++++++++++*/
@media  (min-width: 700px){
  .btne{
    margin: 5rem 0;
  }

.titulo__modi{
  text-align: center;
  padding-bottom: 1rem;
}



/****home*****/
.home{
  display: flex;
  justify-content: center;
  
}
.social{
  padding: 3rem;
}
.descripcion{
  padding: 4rem 1rem;
}
.avatar{
  padding: 1rem;
}
.avatar__foto{
  max-width: 200px;
  max-height: 200px;
}
.descripcionyavatar{
  display: flex;
  flex-direction: row-reverse;

}

  /***************about*******************/
  .about__parrafoyiconos{
    display: flex;
    justify-content: space-around;
  }
  .about__iconos{
    display: flex;
    flex-direction: column;
  }
 .parrafo2{
  max-width: 400px;

 } 
  /***************skills*******************/
  .skills{
    display: flex;
    justify-content: center;
  }
  .parrafoycanvas{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .miCanvas{
padding: 2rem 3rem;
  }
  .canvas{
    max-width: 800px;
  }
  .skills__parrafo{
    padding: 2rem 3rem;
  }
/***************porfolio*******************/

.imagen__swiner{
display: block;
margin: 0 auto;
}
.swiper {
  margin-top: 4rem;
      width: 700px;
      height: 800px;
     position: relative;

      
      
      
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    .segundo{
      position: absolute;
      width: 100%;
      height: 800px;
      top: 0;
      left: 0;

    }

}
.home{
  justify-content: center;
}

.canvas{
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

@media  (min-width: 500px){
  .btne-query2{
    display: none;

  }
}

@media  (max-width: 700px){
  .btne-query1{
    display: none;

  }
  .btne-query2{
    margin: 1rem auto;
  }
}






 .image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  grid-gap: 0.5rem;

}
.image-container .image {
  position: relative;
  padding-bottom: 100%;
}
.image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
  filter: grayscale(80%);
}
@media (max-width: 600px){
 .image-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 500px;
width: 100% !important;
}
}
.detalles{
  position: absolute;
    width: 100%;
    
    bottom: 3rem;
    display: flex;
    justify-content: center;
}
.btne__link{
  padding: .5rem 1rem;
    border: none;
    background-color: #7384BC;
    border-radius: 10px;
    margin: 0 1rem
}

.contenedor__button{
  margin: 0 auto;
  max-width: 300px;
}
.boton_vermas{
display: block;
margin: 0 auto;
background-color: #7384BC;
border-radius: 10px;
border: none;
margin-top: 1rem;
padding: .5rem 3em;
}


footer{
  background-color: #698ec533;
  font-weight: 100;
}
@media(max-width: 600px){
  .item-ico{
    display: none;
  }
}



